h1, h2, h3, h4, h5, h6, p, span, div {
  font-family: HelveticaNeue, sans-serif;
}

.app {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  transition: all .5s ease-in;
  background-position: 50% 50%;
  background-size: cover;
}

.app-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app-title {
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.controller {

}

.timer-controller {

}

.timer-controller-button {
  height: 75px;
  width: 75px;
}

.hourglass {
  position: relative;
  margin: 0 auto;
  height: 75px;
  width: 90%;
  border: 1px solid black;
  background-color: white;
}

.hourglass-time {
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.hourglass-bar {
  position: absolute;
  height: 75px;
  top: 0;
  left: 0;
  background-color: blue;

  transition: all 1s ease;
}
