.hourglass {
  position: relative;
  height: 75px;
  width: 100%;
  border: 1px solid black;
  background-color: white;
}

.hourglass-bar {
  position: absolute;
  height: 75px;
  top: 0;
  left: 0;
  background-color: blue;

  transition: all 1s ease;
}
